---
# This is the file to edit for custom styles
---
@import "minima";
    // Set the base font family
    body {
      font-weight: 400;
      color: #1d1d1f; // Dark gray text color
    }

//Mobile Friendly Configurations
  @media (max-width: 600px) {
    .site-navigation ul {
      flex-direction: column;
    }
  
    .site-navigation li {
      margin-bottom: 10px;
      margin-right: 0;
    }
  
    .header, .footer {
      text-align: center;
    }
  }

/* Base iframe styling for large screens (desktops) */
#iframe-container iframe {
    width: 100%;
    height: 3060px; /* Full height for large screens */
  }

  @media (max-width: 1920px) {
    #responsive-iframe {
      height: 3060px; /* Adjust height for medium screens at 1080p */
    }
  }
    
  /* Medium screens (tablets, small laptops) */
  @media (max-width: 1024px) {
    #responsive-iframe {
      height: 3400px; /* Adjust height for medium screens */
    }
  }
  
  /* Small screens (large phones) */
  @media (max-width: 768px) {
    #responsive-iframe {
      height: 3800px; /* Adjust height for mobile phones */
    }
  }
  
  /* Very small screens (small phones) */
  @media (max-width: 480px) {
    #responsive-iframe {
      height: 4200px; /* Adjust height for small phones */
    }
  }
  
  
// Make images edges rounded 
  img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
  }
  