---
# This is the file to edit for custom styles
---
@import "minima";
    // Set the base font family
    body {
      font-weight: 400;
      color: #1d1d1f; // Dark gray text color
    }

//Mobile Friendly
  @media (max-width: 600px) {
    .site-navigation ul {
      flex-direction: column;
    }
  
    .site-navigation li {
      margin-bottom: 10px;
      margin-right: 0;
    }
  
    .header, .footer {
      text-align: center;
    }
  }

  .responsive-iframe-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 141%; /* Adjust this percentage based on the aspect ratio of your PDF */
  }
  
  .responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
// Make images edges rounded 
  img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
  }
  